*{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  line-height: 1.3;
  margin: 0;
}

.header{
  display: flex;
  align-items: center;
  background-color: #beef00;
  height: 100px;

}
.header h1{
  background-color: #000;
  color: #beef00;
  padding: 12px;
}
.header img{
  max-width: 100%;
  max-height: 100%;
  margin-right: 20%;
}

.header-title{
  display: flex;
  width: 100%;
  height: 100%;
}

.links{
  display: flex;
  height: 100%;
  width: 70%;
  justify-content: space-around;
  align-items: center;
  margin-left: auto;
  margin-right: 20px;
  font-weight: 700;
}

.nav a{
  color: #000;
}

.nav :hover {
  color: #ff0028;
}
 @media screen and (max-width: 725px) {
  .header {
    flex-direction: column;
    height: 100%;
  }
.header-title img{
  display: flex;
  flex-direction: row;
  max-height: 25%;
  max-width: 25%;
}
.header-ti1tle h1 {
  padding: 12px;
}
.links{
  display: flex;
  flex-direction: row;
  background-color: #ff0028;
  width: 100%;
}
.links a{
  color: #beef00;
}

main {
  max-width: 1200px;
}
 }
.figure {
  display: flex;
  position: relative;
  height: 178px;
  background-color: #beef00;
  /* margin: 0px; */
}

.figure img{
  width: 100%;
  height: 100%;
  /* transform: scaleX(-1); */
}

.figure-label{
  position: absolute;
  bottom: 10px;
  right: 25px;
  color: #beef00;
}

.content{
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #beef00;
}
.side-title{
  display: flex;
  background-color: #beef00 ;
  width: 15%;
  padding-right: 20px;
  justify-content: flex-end;
  border-right: 2px black solid;
}
.about-me{
  display:flex;
  margin-block: 20px;
}

.section-content{
  padding:20px;
  width: 80%;
}
.image-large{
  width: 100%;
}

.gallery img{
  width: 48%;
  padding-bottom: 20px;
}
.gallery{
  padding-block: 20px;
  display:flex;
  flex-wrap:wrap;
  flex-direction: row;
  justify-content: space-between;
}













